.social-links{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-links i{
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.social-links div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy-right{
background-color: #1A252F;
}
    