.layer{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    transition:0.5s ;

}
.layer i{
    color: white;
    font-size: 70px;
}
.layer:hover{
    opacity: 0.9;
}
